---
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
<footer>
    <p> Sígueme en mis redes sociales </p>
    <Social platform="twitter" username="gusz_pv" />
    <Social platform="github" username="gustavopacchi" />
    <Social platform="instagram" username="gusz.pv" />
</footer>